language: node_js
cache:
  directories:
    - node_modules
    - .tmp
notifications:
  email: false
before_install:
  - git fetch --tags

node_js: 'lts/carbon'
stages:
  - name: test
    # require the event type to not be a semantic release tag.
    if: NOT tag =~ ^v\d+\.\d+\.\d+$
  - name: deploy
    # require the event type to not be a semantic release tag.
    if: branch = master AND fork = false AND type IN (push, api)

jobs:
  include:
    - stage: test
      script:
        - npm run lint
        - npm run test-ci
        - npm run test-suite
        - npm install --no-save coveralls
        # Report coverage to coveralls.io
        - cat ./__coverage__/lcov.info | ./node_modules/coveralls/bin/coveralls.js
        - rm -fr ./__coverage__

    - stage: deploy
      script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script: npm run semantic-release
        on:
          branch: master
